body.default {
    background-color: #fafafa;
    color: #292929;
}

.default a:not(.input),
.default a:not(.input):visited {
    color: #04879c;
}
.default a:not(.input):focus,
.default a:not(.input):hover {
    color: #00c5cd;
}

.default .menu-simple a,
.default .menu-simple a:focus,
.default .menu-simple a:visited {
    color: #0c3c78;
}
.default .menu-simple a:hover,
.default .menu-simple a.active {
    color: #0c3c78;
    border-bottom: 1px solid #0c3c78;
}

.default .menu-full a,
.default .menu-full a:focus,
.default .menu-full a:hover,
.default .menu-full a.active {
    color: white;
}

.default .wrapper,
.default .color-bg {
    background-color: white;
}

.default .color-base {
    color: #292929;
    fill: #292929;
}

.default .color-offset {
    color: #737373;
    fill: #737373;
}

.default svg,
.default .color-primary {
    color: #0c3c78;
    fill: #0c3c78;
}

.default .color-success {
    color: #008000;
    fill: #008000;
}

.default .color-warn {
    color: #800000;
    fill: #800000;
}

.default .shadow,
.default .overlay-preview {
    background-color: rgba(255, 255, 255, 0.95);
}

.default .home-header,
.default .home-sensors,
.default .countdown,
.default .changelog h1,
.default .changelog h2 {
    color: #0c3c78;
}

.default .social svg,
.default .home-sensors svg {
    fill: #292929;
}

.default .input,
.default .input-textarea {
    color: #0c3c78;
    background-color: white;
}
.default .input:hover,
.default .input:active {
    color: white !important;
    background-color: #04879c;
}

.default .button-icon {
    color: #0c3c78;
}
.default .button-icon:hover,
.default .button-icon:hover svg path {
    color: #04879c;
    fill: #04879c;
}

.default .admin-flight-group {
    border-left-color: #0c3c78;
    border-right-color: #0c3c78;
}

.default .file-table .file-name span.focused,
.default .file-table .file-name span:hover,
.default .file-table .file-name span:active {
    color: #04879c;
}
