body.midnight {
    background-color: #212121;
    color: #eeeeee;
}

.midnight .wrapper,
.midnight .color-bg {
    background-color: #323232;
}

.midnight svg {
    fill: #00adb5;
}

.midnight a,
.midnight a:visited {
    color: #affaff;
}

.midnight a:focus,
.midnight a:hover {
    color: white;
}

.midnight .color-base {
    color: #eeeeee;
    fill: #eeeeee;
}

.midnight .color-primary {
    color: #00adb5;
    fill: #00adb5;
}

.midnight .color-secondary {
    color: #bbbbbb;
    fill: #bbbbbb;
}

.midnight .home-container {
    color: #eeeeee;
}

.midnight .home-title,
.midnight .countdown-title {
    text-shadow: none;
}
