body.midnight {
    background-color: #222831;
    color: #eeeeee;
}

.midnight a:not(.input),
.midnight a:not(.input):visited {
    color: #affaff;
}
.midnight a:not(.input):focus,
.midnight a:not(.input):hover {
    color: #eeeeee;
}

.midnight .menu-simple a,
.midnight .menu-simple a:focus,
.midnight .menu-simple a:visited {
    color: #affaff;
}
.midnight .menu-simple a:hover,
.midnight .menu-simple a.active {
    color: #affaff;
    border-bottom: 1px solid #00c5cd;
}

.midnight .menu-full a,
.midnight .menu-full a:focus,
.midnight .menu-full a:hover,
.midnight .menu-full a.active {
    color: #eeeeee;
}

.midnight .wrapper,
.midnight .color-bg {
    background-color: #393e46;
}

.midnight .color-base {
    color: #eeeeee;
    fill: #eeeeee;
}

.midnight .color-offset {
    color: #bbbbbb;
    fill: #bbbbbb;
}

.midnight svg,
.midnight .color-primary {
    color: #00c5cd;
    fill: #00c5cd;
}

.midnight .color-success {
    color: #a3f7bf;
    fill: #a3f7bf;
}

.midnight .color-warn {
    color: #c32323;
    fill: #c32323;
}

.midnight .shadow,
.midnight .overlay-preview {
    background-color: rgba(57, 62, 70, 0.98);
}

.midnight .home-title,
.midnight .countdown-title {
    text-shadow: none;
}

.midnight .changelog h1,
.midnight .changelog h2 {
    color: #00c5cd;
}

.midnight .input,
.midnight .input-textarea,
.midnight .pure-form input,
.midnight .pure-form select,
.midnight .pure-form textarea {
    color: #eeeeee;
    background-color: #222831;
}
.midnight .input:hover,
.midnight .input:active {
    color: white !important;
    background-color: #00c5cd;
}

.midnight .button-icon {
    color: #00c5cd;
}
.midnight .button-icon:hover,
.midnight .button-icon:hover svg path {
    color: #affaff;
    fill: #affaff;
}

.midnight .admin-flight-group {
    border-left-color: #affaff;
    border-right-color: #affaff;
}

.midnight .file-table .file-name span.focused,
.midnight .file-table .file-name span:hover,
.midnight .file-table .file-name span:active {
    color: #affaff;
}

.midnight .pure-table thead {
    color: #eeeeee;
    background-color: #393e46;
}
.midnight .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #222831;
}

.midnight .rv-discrete-color-legend-item,
.midnight .rv-xy-plot__axis__tick__text {
    color: #eeeeee;
    fill: #eeeeee;
}
