body.midnight {
    background-color: #222831;
    color: #eeeeee;
}

.midnight a,
.midnight a:visited {
    color: #affaff;
}
.midnight a:focus,
.midnight a:hover {
    color: #eeeeee;
}

.midnight .menu-simple a,
.midnight .menu-simple a:focus,
.midnight .menu-simple a:visited {
    color: #affaff;
}
.midnight .menu-simple a:hover,
.midnight .menu-simple a.active {
    color: #affaff;
    border-bottom: 1px solid #00adb5;
}

.midnight .wrapper,
.midnight .color-bg {
    background-color: #393e46;
}

.midnight .color-base {
    color: #eeeeee;
    fill: #eeeeee;
}

.midnight .color-offset {
    color: #bbbbbb;
    fill: #bbbbbb;
}

.midnight svg,
.midnight .color-primary {
    color: #00adb5;
    fill: #00adb5;
}

.midnight .home-title,
.midnight .countdown-title {
    text-shadow: none;
}
