.admin-list {
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-gap: 10px;
    text-align: left;
}

.admin-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 10px;
}

.admin-logs {
    display: grid;
    grid-template-columns: 170px auto;
    margin-bottom: 10px;
}

.admin-logs code,
.admin-logs pre {
    box-sizing: border-box;
    border-right: none;
    padding: 5px 10px;
}

.admin-logs code:nth-child(1),
.admin-logs pre:nth-child(1) {
    border-left: none;
    padding-left: 0;
}

.admin-note {
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.admin-flight-form {
    grid-row: 1 / 3;
}

.admin-flight-group {
    border-left-style: solid;
    border-left-width: 3px;
    border-right-style: solid;
    border-right-width: 3px;
}

@media (max-width: 600px) {
    .admin-stats {
        grid-template-columns: repeat(2, 1fr);
    }
    .admin-logs {
        grid-template-columns: auto;
        margin-bottom: 20px;
    }
    .admin-logs:last-child {
        margin-bottom: 0;
    }
    .admin-logs code,
    .admin-logs pre {
        padding: 0;
        margin-bottom: 5px;
        border: none;
    }
}