.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    background-color: rgba(20, 20, 20, 0.5);
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 10px 20px;
    max-width: 600px;
}

.text.error {
    box-shadow: 0 0 10px rgba(255, 20, 20, 0.5);
}

.text a {
    color: cyan;
}

.leftify {
    text-align: left;
}

.centerify {
    text-align: center;
}

.rightify {
    text-align: right;
}

.monospace {
    font-family: monospace;
}

@media screen and (max-width: 480px) {
    .text {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 360px) {
    .text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .hide-lt768 {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .hide-lt600 {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .hide-lt480 {
        display: none !important;
    }
}
