.text {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.text.error {
    text-shadow: 0 0 15px rgba(255, 20, 20, 0.6);
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.leftify {
    text-align: left;
}

.centerify {
    text-align: center;
}

.rightify {
    text-align: right;
}

.monospace {
    font-family: monospace;
}

.pointer {
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

pre {
    font-size: 13px;
    letter-spacing: normal;
    border-left: 1px dashed #ddd;
    border-right: 1px dashed #ddd;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
}

button.icon {
    background: transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 40px;
    height: 32px;
    margin: 5px;
    padding: 2px;
}

button.icon svg path {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

button.icon:hover svg path {
    fill: #000;
}

@media screen and (max-width: 480px) {
    .text {
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 360px) {
    .text {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .hide-lt768 {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .hide-lt600 {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .hide-lt480 {
        display: none !important;
    }
}
