.error-page {
    text-align: center;
    padding: 100px 30px !important;
}

.error-page h1 {
    color: #001888;
    font-size: 1.8em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
    text-transform: none;
    margin-bottom: 20px;
}

.error-page p {
    color: #888;
    font-size: 1.1em;
    line-height: 1.2;
    margin: 20px 0;
}

@media only screen and (max-width: 270px) {
    .error-page h1 {
        font-size: 1.5em;
    }
}
