.file-table {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: 100%;
    margin: 10px auto 30px;
    padding: 20px 0;
}

.file-table tr:hover td:not(.file-name) span,
.file-table tr:active td:not(.file-name) span {
    font-weight: 600;
}

.file-table th {
    padding: 3px;
    font-size: 12px;
}

.file-table td {
    padding: 3px;
    line-height: 1;
}

.file-table .file-icon {
    width: 28px;
    height: 28px;
    padding: 0 5px 0 0;
    vertical-align: middle;
}

.file-table .file-name {
    padding-right: 10px;
    text-align: left;
    font-size: 14px;
    min-width: 200px;
}

.file-table .file-name span {
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

.file-table .file-name span.focused,
.file-table .file-name span:hover,
.file-table .file-name span:active {
    color: #006080;
}

.file-table .file-info {
    padding-left: 10px;
    font-size: 11px;
}

.file-table-header {
    display: flex;
    justify-content: space-between;
}

.file-close {
    position: absolute;
    right: 60px;
    top: 62px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    opacity: 0.925;
    z-index: 900;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.file-close:hover {
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .file-close {
        right: 40px;
        top: 42px;
    }
}