footer {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #bbb;
}

.social {
    text-align: center;
    z-index: 10;
}

.social a {
    display: inline-block;
    margin: 0 15px;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.social a:hover {
    opacity: 0.5;
}

.social a img {
    width: 20px;
    height: 20px;
}

.social.large a img {
    width: 25px;
    height: 25px;
}
