select,
button,
input[type='submit'] {
    cursor: pointer !important;
}

button {
    font: inherit;
    color: inherit;
}

label {
    display: block;
    margin: 0.25em 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.form-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-element {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}

.form-element .input,
.form-element .input-textarea {
    width: 100%;
    text-align: left;
}

.input {
    height: 44px;
    line-height: 42px;
    margin: 10px 0;
    padding: 0 35px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    font-family: 'Open Sans Condensed', 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}

.input-small {
    height: 28px;
    line-height: initial;
    margin: 0;
    padding: 3px 8px;
    font-size: 13px;
    letter-spacing: 1px;
}

.input-textarea {
    margin: 10px 0;
    padding: 8px;
    outline: none;
    font-size: 13px;
    border: 1px solid #aaa;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    vertical-align: middle;
}

.input-file {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file + svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.button-blank,
.button-icon {
    background: transparent no-repeat;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    line-height: inherit;
    letter-spacing: inherit;
}

.button-icon svg,
.button-icon img,
.button-icon span {
    vertical-align: middle;
}

.button-icon-text span {
    vertical-align: middle;
    font-size: 16px;
}

.button-icon-text svg {
    vertical-align: middle;
    margin-left: 5px;
}

[role='button'] {
    cursor: pointer;
    outline: none;
    border: none;
}
