form.login {
    max-width: 300px;
    margin: 0 auto;
}

input,
select,
.button-default {
    height: 44px;
    line-height: 42px;
    margin: 10px 0;
    padding: 0 35px;
    outline: none;
    color: #002080;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    font-family: "Open Sans Condensed", "PT Sans Narrow", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    vertical-align: middle;
}

input:hover,
input:active,
select:hover,
select:active,
.button-default:hover,
.button-default:active {
    color: #fff !important;
    border-color: #292929;
    background-color: #28a0c8;
}

select, button,
input[type=submit] {
    cursor: pointer;
}

input[type=file] {
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

input[type=file] + svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.input-small,
.button-default-small {
    height: auto;
    line-height: initial;
    margin: 0;
    padding: 3px 8px;
    font-size: 13px;
    letter-spacing: 1px;
}

.button-blank {
    background: transparent no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
    font: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.button-text,
.button-icon {
    transition: all 0.4s ease-in-out;
    background: transparent no-repeat;
    color: #002080;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 40px;
    height: 32px;
    margin: 5px;
    padding: 2px;
}

.button-text:hover,
.button-icon:hover {
    color: #009fd4;
}

.button-icon svg,
.button-icon span {
    vertical-align: middle;
}

.button-icon svg path {
    transition: all 0.4s ease-in-out;
    fill: #002080;
    opacity: 1;
}

.button-icon:hover svg path {
    fill: #009fd4;
}

.button-icon:hover img {
    opacity: 0.5;
}

.button-text,
.button-text-icon {
    width: auto;
}

.button-text-icon span {
    font-family: "Open Sans Condensed", "PT Sans Narrow", sans-serif;
    vertical-align: middle;
    font-size: 16px;
}

.button-text-icon svg {
    vertical-align: middle;
    margin-left: 5px;
}

[role=button] {
    cursor: pointer;
    outline: none;
    border: none;
    font: inherit;
}
