header {
    position: relative;
    height: 125px;
    max-width: 840px;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
}

header::after {
    content: "";
    opacity: 0.3;
    background: #fff url(../images/header.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.menu-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 900;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.9);
    -webkit-transition: left .6s ease-in-out;
    -moz-transition: left .6s ease-in-out;
    -o-transition: left .6s ease-in-out;
    transition: left .6s ease-in-out;
}

.menu-top {
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.menu-icon {
    cursor: pointer;
    float: right;
    padding: 10px;
    margin: 20px;
    fill: #939393;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu-full {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.menu-full li {
    margin: 20px 0;
    display: block;
}

.menu-full a,
.menu-full a:focus {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative;
    font-family: "Raleway", Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 3px 10px;
    color: #fff;
}

.menu-full a:hover,
.menu-full a.active {
    color: #fff;
}

.menu-full a:before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 0;
    height: 100%;
    opacity: .75;
    z-index: -1;
    background-color: #28c8a8;
}

.menu-full a:hover:before,
.menu-full a.active:before {
    left: 0;
    right: 0;
    width: 100%;
}

.menu-simple li {
    margin: 0 10px;
    display: inline-block;
}

.menu-simple li:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.menu-simple a,
.menu-simple a:focus {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2px 10px;
    color: #002080;
}

.menu-simple a:hover,
.menu-simple a.active {
    color: #002080;
    border-bottom: 1px solid #002080;
}

.menu-sub a,
.menu-sub a:focus {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .menu-simple a {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
        font-weight: 400;
    }
    .menu-sub li {
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 88px;
    }
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}