header {
    background: #fff url(../images/header.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0 !important;
    position: relative;
    height: 80px;
}

.menu-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;
    top: 0;
    z-index: 900;
    text-align: center;
    background-color: rgba(20, 20, 20, 0.9);
    -webkit-transition: left .6s ease-in-out;
    -moz-transition: left .6s ease-in-out;
    -o-transition: left .6s ease-in-out;
    transition: left .6s ease-in-out;
}

.menu-full {
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.menu-full li {
    margin: 20px 0 !important;
    display: block !important;
}

.menu-full a {
    color: #fff !important;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin: 0 10px;
    display: inline-block;
}

.menu a,
.menu a:focus {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    position: relative;
    font-family: "Raleway", Georgia, "Times New Roman", Times, serif;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 3px 10px;
    color: #001888;
}

.menu a:hover {
    color: #fff;
}

.menu a:before {
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    width: 0;
    height: 100%;
    opacity: .75;
    z-index: -1;
    background-color: #28c8a8;
}

.menu a:hover:before {
    left: 0;
    right: 0;
    width: 100%;
}
