.home-container,
.countdown-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    align-items: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.home-header {
    display: grid;
    grid-template-rows: 1fr repeat(2, 1.5fr);
    grid-gap: 15px 10px;
}

.home-sensors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px 10px;
}

.home-title,
.countdown-title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    align-self: center;
}

.home-state {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    column-gap: 10px;
}

.home-value {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
}

.home-unit {
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.home-large {
    font-size: 28px;
}

.countdown-container > div {
    padding: 0 30px;
}

.countdown {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    list-style: none;
    margin: 20px auto 10px;
    padding: 0;
    max-width: 680px;
}

.countdown-time-wrap {
    display: inline-block;
    width: 25%;
    padding: 0;
}

.countdown-time {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1;
}

.countdown-unit {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin-top: 5px;
}

@media screen and (max-width: 767px) {
    .home-container {
        grid-template-columns: 1fr 1.5fr;
    }
    .countdown-time {
        font-size: 28px;
    }
    .countdown-unit {
        font-size: 12px;
    }
    .countdown-container > div {
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {
    .home-container,
    .countdown-container {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .home-header {
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr 1.1fr;
    }
    .home-title {
        grid-column: 1 / 3;
    }
}
