.home-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    row-gap: 20px;
    align-items: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.home-title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    padding: 10px 30px;
}

.home-state,
.home-state > div {
    display: inline-block;
}

.home-state {
    padding: 0 10px;
}

.home-value {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
}

.home-unit {
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.home-large {
    font-size: 28px;
}

@media screen and (max-width: 767px) {
    .home-container {
        grid-template-columns: 1fr;
    }
    .home-title {
        padding-top: 0;
    }
    .home-state {
        padding: 0;
    }
}

.countdown-title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    padding: 10px 30px;
}

.countdown {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    list-style: none;
    margin: 20px auto;
    padding: 0;
    max-width: 680px;
}

.countdown-time-wrap {
    display: inline-block;
    width: 25%;
    padding: 0;
}

.countdown-time {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1;
}

.countdown-unit {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin-top: 5px;
}

@media screen and (min-width: 768px) {
    .countdown-title {
        font-size: 28px;
    }
    .countdown-time {
        font-size: 54px;
    }
    .countdown-unit {
        font-size: 20px;
    }
}
