.link-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.link-group {
    min-width: 210px;
    padding: 10px 0;
}

.link-group-title {
    margin: 3px 0;
}

.link-anchor {
    display: block;
}

.link-group-title img,
.link-anchor img {
    width: 16px;
    height: 16px;
    margin: 0 5px;
}