@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,600,700");

body {
    height: 100vh;
    font-family: "Open Sans Condensed", "PT Sans Narrow", sans-serif;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    min-height: 215px;
    max-width: 840px;
    margin: 0 auto;
}

a, a:visited {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

h1, h2, h3 {
    margin: 0;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
    max-width: 840px;
    margin: 0 auto;
}

hr.divider {
    margin: 30px auto;
}

pre,
code {
    font-size: 13px;
    letter-spacing: normal;
    border-left: 1px dashed #ddd;
    border-right: 1px dashed #ddd;
    padding: 0 10px;
    margin: 0;
    overflow: auto;
}

.min-height {
    min-height: 250px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.valign-middle {
    vertical-align: middle;
}

.monospace {
    font-family: monospace;
}

.pointer {
    cursor: pointer;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-wrap {
    white-space: nowrap;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.strong {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.capitalize {
    text-transform: capitalize;
}

.clear {
    clear: both;
}

.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.man { margin: 0 !important; }
.mas { margin: 5px !important; }
.mam { margin: 10px !important; }
.mal { margin: 20px !important; }
.mtn { margin-top: 0 !important; }
.mts { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mtl { margin-top: 20px !important; }
.mrn { margin-right: 0 !important; }
.mrs { margin-right: 5px !important; }
.mrm { margin-right: 10px !important; }
.mrl { margin-right: 20px !important; }
.mbn { margin-bottom: 0 !important; }
.mbs { margin-bottom: 5px !important; }
.mbm { margin-bottom: 10px !important; }
.mbl { margin-bottom: 20px !important; }
.mln { margin-left: 0 !important; }
.mls { margin-left: 5px !important; }
.mlm { margin-left: 10px !important; }
.mll { margin-left: 20px !important; }

.mvn { margin-top: 0 !important; margin-bottom: 0 !important; }
.mvs { margin-top: 5px !important; margin-bottom: 5px !important; }
.mvm { margin-top: 10px !important; margin-bottom: 10px !important; }
.mvl { margin-top: 20px !important; margin-bottom: 20px !important; }
.mhn { margin-left: 0 !important; margin-right: 0 !important; }
.mhs { margin-left: 5px !important; margin-right: 5px !important; }
.mhm { margin-left: 10px !important; margin-right: 10px !important; }
.mhl { margin-left: 20px !important; margin-right: 20px !important; }
.mha { margin-left: auto !important; margin-right: auto !important; }

.pan { padding: 0 !important; }
.pas { padding: 5px !important; }
.pam { padding: 10px !important; }
.pal { padding: 20px !important; }
.ptn { padding-top: 0 !important; }
.pts { padding-top: 5px !important; }
.ptm { padding-top: 10px !important; }
.ptl { padding-top: 20px !important; }
.prn { padding-right: 0 !important; }
.prs { padding-right: 5px !important; }
.prm { padding-right: 10px !important; }
.prl { padding-right: 20px !important; }
.pbn { padding-bottom: 0 !important; }
.pbs { padding-bottom: 5px !important; }
.pbm { padding-bottom: 10px !important; }
.pbl { padding-bottom: 20px !important; }
.pln { padding-left: 0 !important; }
.pls { padding-left: 5px !important; }
.plm { padding-left: 10px !important; }
.pll { padding-left: 20px !important; }

.pvn { padding-top: 0 !important; padding-bottom: 0 !important; }
.pvs { padding-top: 5px !important; padding-bottom: 5px !important; }
.pvm { padding-top: 10px !important; padding-bottom: 10px !important; }
.pvl { padding-top: 20px !important; padding-bottom: 20px !important; }
.phn { padding-left: 0 !important; padding-right: 0 !important; }
.phs { padding-left: 5px !important; padding-right: 5px !important; }
.phm { padding-left: 10px !important; padding-right: 10px !important; }
.phl { padding-left: 20px !important; padding-right: 20px !important; }

@media (min-width: 768px) {
    .hide-gt768 {
        display: none !important;
    }
}
@media (max-width: 767px) {
    .hide-lt768 {
        display: none !important;
    }
}

@media (max-width: 600px) {
    .hide-lt600 {
        display: none !important;
    }
}

@media (min-width: 481px) {
    .hide-gt480 {
        display: none !important;
    }
}
@media (max-width: 480px) {
    .hide-lt480 {
        display: none !important;
    }
}
