@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,400,700");

body {
    background: #202023 url(../images/bg-min.jpg) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1.5;
    color: #ffffff;
}

h1 {
    font-family: "Raleway", Georgia, "Times New Roman", Times, serif;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    line-height: 1.3;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
}

a:focus, a:hover {
    text-decoration: none;
    color: #ffffff;
    outline: 0;
}

.borders {
    position: absolute;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 10px solid rgba(0,0,0, .5);
}

