{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json",
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react", "jsx-a11y", "prettier", "@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "jsx-a11y/no-noninteractive-element-interactions": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/media-has-caption": 0,
        "@typescript-eslint/no-var-requires": "warn",
        "@typescript-eslint/ban-ts-comment": "warn",
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "globals": {
        "module": true,
        "process": true,
        "require": true,
        "__dirname": true,
        "localStorage": true,
        "window": true,
        "document": true,
        "console": true,
        "fetch": true,
        "Promise": true,
        "FormData": true,
        "File": true,
        "confirm": true,
        "prompt": true
    },
    "ignorePatterns": ["**/dist/**"]
}
