{
  "plugins": [
    "react",
    "jsx-a11y"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "rules": {
    "no-shadow": ["error", { "builtinGlobals": false }],
    "camelcase": ["error", { "properties": "never" }],
    "comma-dangle": ["error"],
    "indent": 0,
    "indent-legacy": ["error", 4, { "SwitchCase": 1 }]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "module": true,
    "process": true,
    "require": true,
    "setTimeout": true,
    "clearTimeout": true,
    "__dirname": true,
    "localStorage": true,
    "window": true,
    "document": true
  }
}
