{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "prettier",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "rules": {
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-var-requires": 0,
    "react/prop-types": 0,
    "prettier/prettier": "error"
  },
  "settings": {
    "react": {
      "version": "16.10"
    }
  },
  "globals": {
    "module": true,
    "process": true,
    "require": true,
    "__dirname": true,
    "localStorage": true,
    "window": true,
    "document": true,
    "console": true,
    "fetch": true,
    "Promise": true,
    "FormData": true,
    "File": true,
    "confirm": true,
    "prompt": true
  }
}
