# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# idea
.idea
*.iml
*.iws
*.ipr

# production
/build
/dist

# misc
.DS_Store
*.pem
*.swp
*.bak

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts