@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button-text,
    .button-icon,
    .input {
        @apply block text-primary dark:text-primary-dark bg-light dark:bg-dark dark:hover:bg-neutral-dark focus:outline-none focus:ring focus:ring-sky-500 cursor-pointer;
    }
    .button-text,
    .input {
        @apply px-8 py-6 border rounded-4 dark:border-slate-400 hover:shadow;
    }
    .button-text {
        @apply text-12 font-bold uppercase;
    }
    .button-icon {
        @apply p-2 rounded-8 hover:bg-neutral;
    }
    .label {
        @apply block text-secondary dark:text-secondary-dark text-14;
    }
}

/* recharts */
.recharts-legend-item-text {
    color: #475569 !important;
}
.dark .recharts-legend-item-text {
    color: #f8fafc !important;
}
.dark .recharts-cartesian-axis-tick-value {
    fill: #f8fafc;
}
.dark .recharts-tooltip-cursor {
    fill: #1e293b;
    fill-opacity: 0.3;
}
.dark .recharts-default-tooltip {
    background-color: #334155 !important;
}

/* react-svg-worldmap */
.worldmap__figure-container {
    width: min-content;
    margin: 0 auto;
}
.dark .worldmap__figure-container {
    background-color: #1e293b !important;
}
.dark .worldmap__figure-container path {
    stroke: white !important;
}
@media (max-width: 480px) {
    .worldmap__figure-container svg {
        max-width: 336px;
    }
}
