.home-state,
.countdown {
    max-width: 680px;
    list-style: none;
    margin: 20px auto 0;
    padding: 0;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.home-state {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 0.5fr 1fr;
}

.home-title,
.countdown-title {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 400;
    align-self: center;
}

.home-value {
    font-size: 22px;
    font-weight: 700;
    line-height: 1;
    vertical-align: middle;
}

.home-value-large {
    font-size: 28px;
}

.home-unit {
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.home-info {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-column-gap: 10px;
    margin: 0 30px;
}

.countdown-time-wrap {
    display: inline-block;
    width: 25%;
    padding: 0;
}

.countdown-time {
    display: inline-block;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1;
}

.countdown-unit {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.6;
    margin-top: 5px;
}

.changelog {
    font-size: 0.9rem;
}

.changelog h1 {
    display: none;
}

@media screen and (max-width: 767px) {
    .countdown-time {
        font-size: 28px;
    }
    .countdown-unit {
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    .home-state {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .home-time {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }
    .home-temp {
        grid-row: 2 / 3;
    }
    .home-info {
        margin: 0 20px;
    }
    .home-value-large {
        font-size: 24px;
    }
}
