@media screen and (min-width: 480px) {
    [data-tooltip] {
        position: relative;
        cursor: help;
    }

    [data-tooltip]:after {
        position: absolute;
        visibility: hidden;
        z-index: 999;
        opacity: 0;
        bottom: 100%;
        left: 50%;
        color: #fff;
        background-color: #000;
        background-color: hsla(0, 0%, 20%, 0.9);
        border: 1px solid #292929;
        border-radius: 4px;
        padding: 4px 8px;
        content: attr(data-tooltip);
        font-size: 12px;
        text-align: center;
        text-transform: initial;
        white-space: nowrap;
        -webkit-transform: translate3d(-50%, 0, 0);
        -moz-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        -webkit-transition:
                opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        -moz-transition:
                opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        transition:
                opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out,
                transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
        pointer-events: none;
    }

    [data-tooltip]:hover:after,
    [data-tooltip]:focus:after {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(-6px) translateX(-50%);
        -moz-transform: translateY(-6px) translateX(-50%);
        transform: translateY(-6px) translateX(-50%);
    }

    [data-tooltip-large]:after {
        width: 300px;
        white-space: pre-wrap;
    }
}

.toast {
    position: fixed;
    left: 50%;
    bottom: 60px;
    width: 300px;
    margin-left: -150px;
    padding: 16px;
    border: 1px solid #ddd;
    text-align: center;
    z-index: 999;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
